# Estoque Database
ESTOQUE_DB_USER=estoque
ESTOQUE_DB_PASSWORD=estoque123
ESTOQUE_DB_NAME=estoque
ESTOQUE_DB_PORT=5433

# Faturamento Database
FATURAMENTO_DB_USER=faturamento
FATURAMENTO_DB_PASSWORD=faturamento123
FATURAMENTO_DB_NAME=faturamento
FATURAMENTO_DB_PORT=5434