# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Env
.env
*.env
!.env.example

# Angular
node_modules/
dist/
.angular/
tmp/
*.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db